<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Display error message -->
    

    <form action="/submit-user" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <div id="error-message" style="color: red; <%= error ? 'display: block;' : 'display: none;' %>">
            <%= error || '' %>
        </div>

        <button type="submit">Submit</button>
        <a href="/signup">signup</a>
    </form>
    
</body>
</html>
