<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Name: <%= user.name %></p>
    <p>Department: <%= user.department %></p>
    <div>
        
    </div>
        <button onclick="window.location.href='/get-courses-teacher'">Courses</button>
        <button onclick="window.location.href='/add-course'">Add Course</button>
        <button onclick="window.location.href='/get-feedback'">View Feedback</button>
        <button onclick="window.location.href='/select-course'">Result</button>
    <div>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
